{% extends "base.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
      <div class="cards">
        <div class="questions-header">
            {% if hot %}
            <h1>Hot Questions</h1><a href="/">New Questions</a>
            {% else %}
            <h1>New Questions</h1><a href="/hot">Hot Questions</a>
            {% endif %}
        </div>
        {% for question in questions %}
        <div class="question-card container">
            <div class="avatar-and-description">
                <div class="image-like-container">
                <img height="80" width="80" src="https://placehold.co/500" alt="user image">
                    <div class="likes">
                        <div class="number">{{question.like_count}}</div>
                        <div class="arrows-container">
                            <div class="arrow">▲</div>
                            <div class="arrow">▼</div>
                        </div>
                    </div>
                </div>
                <div class="description-actions">
                    <div class="description">
                        <h2>{{question.header}}</h2>
                        <p>{{question.description}}</p>
                    </div>
                    <div class="actions-and-tags">
                        <a href="{% url 'question' id=question.id %}">Answer ({{ question.comments_count }})</a>
<!--                        <a href="/question/{{question.id}}">Answer (125)</a>-->
                        <div class="question-tags">
                            <p>Tags: </p>
                            {% for tag in question.tags.all %}
<!--                            <a href="/tag/{{tag|lower}}">{{tag}}</a>-->
                            <a href="{% url 'tag' tag_name=tag|lower %}">{{tag}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include 'paginator.html' %}
      </div>
      {% endblock %}