{% extends "base.html" %}
{% block style %}

{% load static %}
<link rel="stylesheet" href="{% static 'question.css' %}">
{% endblock %}

{% block content %}
        <div class="all-cards">
        <div class="cards container">
            <div class="common-container">
                <div class="description-actions">
                    <div class="avatar-and-description">
                        <div class="image-like-container">
                            <img height="100" width="100" src="https://placehold.co/500" alt="user image">
                            <div class="likes">
                                <div class="number">{{question.likes}}</div>
                                <div class="arrows-container">
                                    <div class="arrow">▲</div>
                                    <div class="arrow">▼</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <h1>{{question.title}}</h1>
                        <p>{{question.text}}</p>
                    </div>
                </div>
            </div>
            <div class="actions-and-tags">
                <div class="question-tags">
                    <p>Tags: </p>
                    {% for tag in question.tags %}
                        <a href="/tag/{{tag|lower}}">{{tag}}</a>
                    {% endfor %}
                </div>
            </div>
            <hr class="line">
            <div class="answers-container">
                <h2>Answers</h2>
                <div class="answer">
                    <div class="avatar-and-description">
                        <div class="image-like-container">
                            <img height="80" width="80" src="https://placehold.co/500" alt="user image">
                            <div class="likes">
                                <div class="number">0</div>
                                <div class="arrows-container">
                                    <div class="arrow">▲</div>
                                    <div class="arrow">▼</div>
                                </div>
                            </div>
                        </div>
                        <div class="answer-actions">
                            <div class="description">
                                <p>Honestly, your situation seems hopeless. My best wishes to you. If you somehow manage not to get fired, please tell me how.</p>
                                <div class="correct-checkbox">
                                    <input type="checkbox">
                                    <span>Correct</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="answer">
                <div class="avatar-and-description">
                    <div class="image-like-container">
                        <img height="80" width="80" src="https://placehold.co/500" alt="user image">
                        <div class="likes">
                            <div class="number">0</div>
                            <div class="arrows-container">
                                <div class="arrow">▲</div>
                                <div class="arrow">▼</div>
                            </div>
                        </div>
                    </div>
                    <div class="answer-actions">
                        <div class="description">
                            <p>You should look for backups as soon as possible. Some of them might be fresh enough so that nobody notices if you use the backup database instead of the real one.</p>
                            <div class="correct-checkbox">
                                <input checked type="checkbox">
                                <span>Correct</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="user-answer">
                <textarea rows="5" placeholder="Answer here..."></textarea>
                <button class="answer-button">Answer!</button>
            </div>
        </div>
        <div class="pages container">
            <div class="page"><a href="" class="current">1</a></div>
            <div class="page"><a href="">2</a></div>
            <div class="page"><a href="">3</a></div>
            <div class="page"><a href="">...</a></div>
            <div class="page"><a href="">100</a></div>
        </div>
        </div>
        </div>
    </div>
{% endblock %}