{% extends "base.html" %}
{% block style %}

{% load static %}
<link rel="stylesheet" href="{% static 'question.css' %}">
{% endblock %}

{% block content %}
        <div class="all-cards">
        <div class="cards container">
            <div class="common-container" data-post-id="{{ question.id }}">
                <div class="description-actions">
                    <div class="avatar-and-description">
                        <div class="image-like-container">
                            {% if question.user.avatar %}
                            <img height="100" width="100" src="{{ MEDIA_URL }}{{ question.user.avatar }}" alt="user image">
                            {% else %}
                            <img height="100" width="100" src="https://placehold.co/500" alt="user image">
                            {% endif %}
                            <div class="likes">
                                {% if request.user.is_authenticated %}
                                <div class="number question-number">{{question.like_count}}</div>
                                <div class="arrows-container">
                                    <button class="arrow-button like-button {% if question.like_value == 1 %}liked{% endif %}" 
                                            data-post-id="{{ question.id }}" 
                                            data-action="like">
                                        ▲
                                    </button>
                                    <button class="arrow-button dislike-button {% if question.like_value == -1 %}liked{% endif %}" 
                                            data-post-id="{{ question.id }}" 
                                            data-action="dislike">
                                        ▼
                                    </button>
                                </div>
                                {% else %}
                                <div class="number" style="display: flex; width: 100%; justify-content: center; padding: 10px">{{ question.like_count }}</div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="description">
                        <h1>{{question.header}}</h1>
                        <p>{{question.description}}</p>
                    </div>
                </div>
            </div>
            <div class="actions-and-tags">
                <div class="question-tags">
                    <p>Tags: </p>
                    {% for tag in question.tags.all %}
                        <a href="/tag/{{tag|lower}}">{{tag}}</a>
                    {% endfor %}
                </div>
            </div>
            <hr class="line">
            <div class="answers-container">
                <h2>Answers</h2>
                {% if not comments %}
                <h4>Nobody has answered yet, so be first!</h4>
                {% else %}
                {% for comment in comments %}
                <!-- <h1> {{ comment.like_value }} </h1> -->
                <div class="answer" id="{{ comment.id }}">
                    <div class="avatar-and-description">
                        <div class="image-like-container">
                            {% if comment.user.avatar %}
                            <img height="80" width="80" src="{{ MEDIA_URL }}{{ comment.user.avatar }}" alt="user image">
                            {% else %}
                            <img height="80" width="80" src="https://placehold.co/500" alt="user image">
                            {% endif %}
                            <div class="likes">
                                {% if request.user.is_authenticated %}
                                <div class="number">{{ comment.like_count }}</div>
                                <div class="arrows-container">
                                    <button class="arrow-button comment-like-button {% if comment.like_value == 1 %}liked{% endif %}" 
                                            data-comment-id="{{ comment.id }}" 
                                            data-action="like">
                                        ▲
                                    </button>
                                    <button class="arrow-button comment-dislike-button {% if comment.like_value == -1 %}liked{% endif %}" 
                                            data-comment-id="{{ comment.id }}" 
                                            data-action="dislike">
                                        ▼
                                    </button>
                                </div>
                                {% else %}
                                <div class="number" style="display: flex; width: 100%; justify-content: center; padding: 10px">{{ comment.like_count }}</div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="answer-actions">
                            <div class="description">
                                <p>{{ comment.content }}</p>
                                <div class="correct-checkbox">
                                    {% if comment.is_correct %}
                                        {% if question.user.id == request.user.id %}
                                            <input type="checkbox" data-comment-id="{{ comment.id }}" class="comment-checkbox" checked>
                                        {% else %}
                                            <input type="checkbox" data-comment-id="{{ comment.id }}" class="comment-checkbox" checked disabled>
                                        {% endif %}
                                    {% else %}
                                        {% if question.user.id == request.user.id %}
                                            <input type="checkbox" data-comment-id="{{ comment.id }}" class="comment-checkbox">
                                        {% else %}
                                            <input type="checkbox" data-comment-id="{{ comment.id }}" class="comment-checkbox" disabled>
                                        {% endif %}
                                    {% endif %}
                                    <span>Correct</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
            {% endif %}
            </div>
            {% if request.user.is_authenticated %}
            <div class="user-answer">
                <form style="width: 100%;" action="{% url 'question' question.id %}" method="POST" enctype="application/x-www-form-urlencoded">
                    {% csrf_token %}
                    <textarea required name="content" rows="5" placeholder="Answer here..."></textarea>
                    <button class="answer-button">Answer!</button>
                </form>
            </div>
            {% if error %}
            <p class="error">
                {{ error }}
            </p>
            {% endif %}
            {% else %}
            <h4>You must be logged in to answer. <a href="{% url 'login' %}?continue={{ request.path }}">Log In</a></h4>
            {% endif %}
        </div>
<!-- здесь теперь пагинатор, но он не будет работать, т.к. у страницы вопроса нет других страниц (пока, по крайней мере) -->
        {% include 'comments_paginator.html' %}
        </div>
        </div>
    </div>

    <script src="{% static 'question_ajax.js' %}"></script>
{% endblock %}