{% extends "base.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{% endblock %}
{% block content %}
      <div class="cards">
        <div class="login-header">
            <h1>Settings</h1>
        </div>
        <div class="login container">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="input-field">
                    <label for="username">Username</label>
                    <input required name="username" value="{{ request.user.username }}" type="text" id="username">
                </div>
                <div class="input-field">
                    <label for="email">Email</label>
                    <input required name="email" value="{{ request.user.email }}" type="email" id="email">
                </div>
                <div class="input-field">
                    <label for="picture">Upload avatar</label>
                    <div class="file-image-container">
                        <img height="90" width="90" src="https://placehold.co/200">
                        <div class="file-load-container">
                            <input name="picture" type="file" accept=".jpg,.png,.jpeg" id="picture">
                            <button>Upload</button>
                        </div>
                    </div>
                </div>
                {% if error %}
                <p class="error">
                    {{ error }}
                </p>
                {% endif %}
                <button class="login-button">Save changes</button>
            </form>
        </div>
      </div>
{% endblock %}