{% extends "base.html" %}

{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'index.css' %}">
{% endblock %}

{% block content %}
      <div class="cards">
        <div class="questions-header">
            <h1>Tag: {{tag}}</h1>
        </div>
        {% for question in questions %}
        <div class="question-card container">
            <div class="avatar-and-description">
                <div class="image-like-container">
                <img height="80" width="80" src="https://placehold.co/500" alt="user image">
                <div class="likes">
                    {% if request.user.is_authenticated %}
                    <div class="number">{{ question.like_count }}</div>
                    <div class="arrows-container">
                        <button class="arrow-button like-button {% if question.like_value == 1 %}liked{% endif %}" 
                                data-post-id="{{ question.id }}" 
                                data-action="like">
                            ▲
                        </button>
                        <button class="arrow-button dislike-button {% if question.like_value == -1 %}liked{% endif %}" 
                                data-post-id="{{ question.id }}" 
                                data-action="dislike">
                            ▼
                        </button>
                    </div>
                    {% else %}
                    <div class="number" style="display: flex; width: 100%; justify-content: center; padding: 10px">
                        {{ question.like_count }}
                    </div>
                    {% endif %}
                </div>
                </div>
                <div class="description-actions">
                    <div class="description">
                        <h2>{{question.header}}</h2>
                        <p>{{question.description|truncatechars:256 }}</p>
                    </div>
                    <div class="actions-and-tags">
                        <a href="{% url 'question' id=question.id %}">Answer ({{ question.comments_count }})</a>
<!--                        <a href="/question/{{question.id}}">Answer (125)</a>-->
                        <div class="question-tags">
                            <p>Tags: </p>
                            {% for tag in question.tags.all %}
<!--                            <a href="/tag/{{tag|lower}}">{{tag}}</a>-->
                            <a href="{% url 'tag' tag_name=tag|lower %}">{{tag}}</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        {% include 'paginator.html' %}
      </div>
<script src="{% static 'index_ajax.js' %}"></script>
{% endblock %}

